In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import paired_distances,cosine_similarity

In [2]:
receipes = pd.read_csv('./recipe_group.csv')
like = pd.read_csv('./userid_like.csv')

display(receipes.head())
display(like.head())

   id  Cluster_category
0   1                 4
1   3                 0
2   4                 2
3   6                 3
4   7                 3

   userid    id  like
0       0  1129    25
1       1    12     1
2       1  1587   193
3       2  1220    27
4       3   733   127

In [3]:
df = pd.merge(like, receipes, on='id')
df

      userid    id  like  Cluster_category
0          0  1129    25                 3
1          3   733   127                 3
2          3  1090   122                 3
3          4   732   380                 0
4          5   638    62                 0
...      ...   ...   ...               ...
1337     971  1580   247                 3
1338     972    69     1                 0
1339     972   108   260                 0
1340     974   958     5                 3
1341     975  1401   454                 4

[1342 rows x 4 columns]

In [4]:
# 建立receipe的特徵矩陣

oneHot = pd.get_dummies(receipes["Cluster_category"].astype(str))# One-Hot Encoding
receipe_arr = pd.concat([receipes, oneHot], axis=1)
receipe_arr.drop("Cluster_category",axis=1,inplace=True)
receipe_arr.set_index("id",inplace=True)
display(receipe_arr.head())

# 建立user的特徵矩陣

oneHot = pd.get_dummies(df["Cluster_category"].astype(str)) # One-Hot Encoding
user_arr = pd.concat([df, oneHot], axis=1)
user_arr.drop(["id","like","Cluster_category"],axis=1,inplace=True)
user_arr = user_arr.groupby('userid').mean()
display(user_arr.head())

    0  1  2  3  4
id
1   0  0  0  0  1
3   1  0  0  0  0
4   0  0  1  0  0
6   0  0  0  1  0
7   0  0  0  1  0

          0    1    2    3    4
userid
0       0.0  0.0  0.0  1.0  0.0
3       0.0  0.0  0.0  1.0  0.0
4       1.0  0.0  0.0  0.0  0.0
5       1.0  0.0  0.0  0.0  0.0
6       1.0  0.0  0.0  0.0  0.0

In [5]:
#計算 使用者與食譜的餘弦相似度(距離) 來建立使用者與食譜的相似度矩陣

In [6]:
# user-receipe相似度矩陣
similar_matrix = cosine_similarity(user_arr.values, receipe_arr.values)
similar_matrix = pd.DataFrame(similar_matrix, index = user_arr.index, columns = receipe_arr.index)
similar_matrix

id,1,3,4,6,7,8,9,10,11,13,...,1592,1595,1598,1600,1601,1603,1604,1605,1606,1607
userid,,,,,,,,,,,,,,,,,,,,,
0,0.00000,0.0,0.0,1.00000,1.00000,0.00000,0.0,0.00000,0.00000,1.00000,...,0.00000,0.0,1.00000,0.0,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000
3,0.00000,0.0,0.0,1.00000,1.00000,0.00000,0.0,0.00000,0.00000,1.00000,...,0.00000,0.0,1.00000,0.0,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000
4,0.00000,1.0,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,...,0.00000,1.0,0.00000,1.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
5,0.00000,1.0,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,...,0.00000,1.0,0.00000,1.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
6,0.00000,1.0,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,...,0.00000,1.0,0.00000,1.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,0.00000,1.0,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,...,0.00000,1.0,0.00000,1.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
971,0.57735,0.0,0.0,0.57735,0.57735,0.57735,0.0,0.57735,0.57735,0.57735,...,0.57735,0.0,0.57735,0.0,0.57735,0.57735,0.57735,0.57735,0.57735,0.57735
972,0.00000,1.0,0.0,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,...,0.00000,1.0,0.00000,1.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
974,0.00000,0.0,0.0,1.00000,1.00000,0.00000,0.0,0.00000,0.00000,1.00000,...,0.00000,0.0,1.00000,0.0,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000
975,1.00000,0.0,0.0,0.00000,0.00000,1.00000,0.0,0.00000,0.00000,0.00000,...,1.00000,0.0,0.00000,0.0,1.00000,0.00000,0.00000,1.00000,0.00000,1.00000

In [7]:
# 定義取得前幾個最相似的食譜

In [8]:
# 取得與特定user最相似的前num的receipe
def get_the_most_similar_receipes(searchUserId, num):
    vec = similar_matrix.loc[searchUserId].values
    sorted_index = np.argsort(-vec)[:num]   #找距離最短
    return list(similar_matrix.columns[sorted_index])

In [9]:
# sort最相似的資料
searchUserId = 971
num = 5

In [10]:
similar_receipes_index = get_the_most_similar_receipes(searchUserId, num)
print(similar_receipes_index)

[1, 954, 955, 956, 957]

In [11]:
# 重新讀入receipes.csv為了要有title
receipes = pd.read_csv('./recipe_group.csv')

# 列出推薦名單
df_recommend_receipes = pd.DataFrame({f'推薦給[使用者{searchUserId}]的前{num}名的食譜':receipes[receipes.id.isin(similar_receipes_index)].id[:num]}).reset_index()
df_recommend_receipes.drop('index',axis=1,inplace=True)
df_recommend_receipes

   推薦給[使用者971]的前5名的食譜
0                   1
1                 954
2                 955
3                 956
4                 957

In [12]:
# 定義取得前幾個最相似的使用者。

In [13]:
# 取得與特定receipe最相似的前num的receipe
def get_the_most_similar_users(searchreceipeId, num):
    receipe_vec = similar_matrix[searchreceipeId].values 
    sorted_index = np.argsort(-receipe_vec)[:num]  #找距離最短
    return list(similar_matrix.index[sorted_index])

In [14]:
# sort最相似的資料
searchreceipeId = 6
num = 5

In [15]:
similar_user_index = get_the_most_similar_users(searchreceipeId, num)
print(similar_user_index)

[0, 793, 251, 254, 255]

In [16]:
# 重新讀入receipes.csv為了要有title
receipes = pd.read_csv('./recipe_group.csv')

# 列出推薦名單

df_recommend_users = pd.DataFrame({f'可能會喜歡[食譜{searchreceipeId}]的前{num}個使用者':like[like.userid.isin(similar_user_index)].userid.unique()[:num]}).reset_index()
df_recommend_users.drop('index',axis=1,inplace=True)

df_recommend_users

   可能會喜歡[食譜6]的前5個使用者
0                  0
1                251
2                254
3                255
4                793